# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
*.egg-info/

# QueueCTL data
.queuectl/
*.db
*.db-journal
*.db-shm
*.db-wal
workers.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
